/* 폰트
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/*header*/
header{position: fixed; z-index: 10; position: fixed; z-index: 10; left: 0; top: 0; width: 100%; height: 100px; transition: 0.3s;}
header.active{height: 190px; background-color: white; border-bottom: 1px solid #eaeaea;}
.logo{position: fixed; left: 65px; top: 38px;}
.logo:hover{cursor: pointer;}
.menu{position: fixed; top: 58px; right: 120px;}
.menu>li{float: left; margin-left: 40px;}
.menu>li>a{font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 13px; _transition: all 0.5s;}
.menu>li>a:hover{border-bottom: 1px solid #000;}
.btn_menu{position: fixed; top: 55px; right: 50px; transition: 0.3s;}
.btn_menu:hover{cursor: pointer;}
.btn_menu.active{transform: rotate(-45deg);}
.menu_sub{width: 100%; text-align: center; padding-top: 10px; display: none;}
.menu_sub.active{display: block;}
.menu_sub>li{margin-bottom: 5px;}
.menu_sub>li>a{font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 13px; transition: 0.3s;}
.menu_sub>li>a:hover{color: #104a68;}

/*footer*/
footer>p{position: fixed; z-index: 10; left: 65px; bottom: 80px; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 12px;}
footer div{position: fixed; right: 65px; bottom: 80px;}
footer div h4{font-family: 'Poppins', sans-serif; font-weight: 600; margin-bottom: 20px; font-size: 14px; color: #555;}
footer div p{font-family: 'Poppins', sans-serif; font-weight: 300;color: #555; font-size: 13px; line-height: 24px;}

/*anchor*/
.anchor{position: fixed; top: 40%; left: 0px; z-index: 10;}
.anchor li{margin-bottom: 30px;}
.anchor .an_num{padding-left: 54px; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 12px; color: #bbb;}
.anchor .an_text{padding-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 12px; color: #bbb}
.anchor li:nth-child(1) .an_num{padding-left: 56px;}
.anchor li:nth-child(1) .an_text{padding-left: 22px;}
.anchor .an_bar{width: 15px; height: 1px; background-color: #bbb; margin-left: 54px;}

.anchor li.active .an_num{color: black;}
.anchor li.active .an_text{color: black;}
.anchor li.active .an_bar{background-color: black;}
.anchor li:hover .an_num{color: black;}
.anchor li:hover .an_text{color: black;}
.anchor li:hover .an_bar{background-color: black;}

/*main*/
#main{width: 100%; height: 100vh; background: url(../img/main01.jpg) no-repeat center 30%; background-size: cover;}
.main_text{margin-left: 250px; padding-top: 275px;}
.main_text p{font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 14px; letter-spacing: 1px;}
.main_text h3{font-family: 'Noto Sans KR', sans-serif; font-weight: 300; font-size: 30px; margin-top: 60px; opacity: 0;}
.main_text h1{font-family: 'Noto Sans KR', sans-serif; font-weight: 700; font-size: 66px; margin-top: 20px; opacity: 0;}
.mouse{position: fixed; bottom: 80px; text-align: center; left: 50%;}
.mouse:hover{cursor: pointer;}
.mouse .mouse_btn{margin-top: 20px; animation: ani 0.8s infinite alternate linear;}
@keyframes ani{
    0%{
        opacity: 1; margin-top: 20px;
    }
    100%{
        opacity: 0.2; margin-top: 35px; 
    }
}

/*interior*/
#interior{width: 100%; height: 100vh;}
#sample{width: 1201px; height: 100%; margin: 0 auto; border-left: 1px solid #eaeaea; border-right: 1px solid #eaeaea; position: relative;}
#sample>p{
    position: absolute; z-index: 10; top: 235px; left: 0;
    font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 14px; color: black;
}
#sample>h1{
    position: absolute; z-index: 10; top: 235px; left: -1px; margin-top: 32px;
    font-family: 'Noto Sans KR', sans-serif; font-weight: 700; font-size: 36px; color: black;
}

.sp{float: left; width: 368px; height: 100%;}
.sample_img{border-left: 1px solid #eaeaea; border-right: 1px solid #eaeaea; width: 273px; height: 100%; float: left; position: relative;}
.sample_img img{position: absolute; left: 0; bottom: 0; background-color: black;}
.sample_title{width: 95px; height: 100%; float: left; transition: 0.5s; position: relative;}
.sample_title:hover{cursor: pointer; background-color: #8ca5bb;}
.sample_title>p{
    transform: rotate(90deg); position: absolute; 
    font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 15px; color: black;
}

.single{margin-left: 95px;}
.single_title>p{top: 470px; left: -15px;}
.couple_title>p{top: 580px; left: -35px;}
.family_title>p{top: 347px; left: -15px;}

/*company*/
#company{width: 100%; height: 100vh; overflow: hidden;}
#company_contents{width: 1201px; height: 100%; margin: 0 auto; position: relative;}
.cp_info{width: 368px; height: 100%; float: left; background: url(../img/company_info.png) no-repeat top center; position: relative; background-size: cover;}
.cp_info h1{
    font-family: 'Poppins', sans-serif; font-weight: 700; color: white; font-size: 36px; line-height: 48px;
    position: absolute; left: 65px; bottom: 265px;
}
.cp_info p{
    font-family: 'Noto Sans KR', sans-serif; font-weight: 400; color: #969696; font-size: 14px; line-height: 24px;
    padding: 0 65px; position: absolute; left: 0; bottom: 160px;
}
.img_company{position: absolute; bottom: 0; right: 0; z-index: 1; margin-right: -350px;}
.cp_box{
    position: absolute; z-index: 2; bottom: 0; left: 600px; transition: 0.3s;
    width: 232px; height: 220px; background-color: #104a68; text-align: center; line-height: 220px;
    color: white; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 14px; 
}
.cp_box:hover{cursor: pointer; border-radius: 100px 0 0 0;}

/*contact*/
#contact{width: 100%; height: 100vh; background: url(../img/contact.png) no-repeat top center; background-size: cover; position: relative; overflow: hidden;}
.contact_box{width: 1096px; height: 670px; background-color: white; position: absolute; right: 0; bottom: 0;}
.contact_box p{font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 14px; color: black; margin-left: 136px; margin-top: 130px;}
.contact_box h1{font-family: 'Noto Sans KR', sans-serif; font-weight: 700; font-size: 30px; color: black; margin-left: 135px; margin-top: 25px;}

.contact_form{margin-left: 136px; margin-top: 130px; position: relative;}
.contact_form input[type="text"]{border-top: 0; border-left: 0; border-right: 0; border-bottom: 1px solid #e1e1e1; width: 232px; height: 35px; margin-top: 16px; outline: 0;}
.contact_form input::placeholder{color: #555; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 13px;}
.contact_form input[type="submit"]{
    width: 120px; height: 120px; background-color: black; border: 0; color: white; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 13px;
    position: absolute; left: 0; top: 32px; left: 300px;
}
.contact_form input[type="submit"]:hover{cursor: pointer;}